* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9F6F4;
    color: #333333;
    width: 100vw;
    height: 100vh;
    padding: 0.9% 1.7% 1.6%;
    display: flex;
}

a {
    color: #1E0D03;
    text-decoration: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    color: #1E0D03;
}

input:focus {
    outline: none;
    border: none;
}

/* general */
.date {
    display: flex;
    width: 8rem;
    height: 2.2rem;
}

.date button {
    background: transparent;
    border: solid 1px #E5E0E0;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    width: 30%;
}

.date button i {
    color: #FF993C;
    font-size: 18px;
}

.date input {
    border: solid 1px #E5E0E0;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    width: 70%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.button-hover {
    background: transparent;
    border: solid 1px #FF993C;
    color: #FF993C;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
}

.button-hover:hover {
    border: solid 1px #FF993C;
    background-color: #FF993C;
    color: #FFFFFF;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* template */

aside {
    width: 18.5%;
    position: relative;
}

main {
    width: 100%;
}

nav {
    height: 6.5%;
}

article {
    height: calc(100% - 6.5%);
}

aside .logo {
    width: 46%;
}

.menu {
    padding-top: 20%;
}

.menu img {
    color: #1E0D03;
    width: 1rem;
    opacity: 0.8;
    margin: 0% 5% 0% 9%;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    padding-left: 0;
    width: 100%;
    height: 2.9rem;
    margin-bottom: 2px;
}

.menu .menu-link {
    color: #1E0D03;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 88%;
    border-radius: 8px;
    background-color: transparent;
}

.menu .menu-link:hover {
    background-color: #FFB800;
    color: #FFFFFF;
}

.menu .menu-link:hover img {
    filter: invert(100%);
}

.menu .active {
    background-color: #FFB800;
    color: #FFFFFF;
}

.menu .active img {
    filter: invert(100%) brightness(100%);
}

.menu .collapse ul li a {
    justify-content: center;
}

.copyright {
    position: absolute;
    bottom: 0px;
}

.copyright span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #1E0D03;
}

nav {
    display: flex;
    justify-content: space-between;
}

.search {
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
}

.search input {
    height: 2.2rem;
    padding: 10px 16px 10px 16px;
    border-radius: 9px 0px 0px 9px;
    background-color: #EDEDED;
    outline: none;
    border: none;
}

.search input[type="search"]::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E0D03;
    opacity: 0.3;
}

.search button {
    width: 65%;
    height: 2.2rem;
    border-radius: 0px 9px 9px 0px;
    background-color: #EDEDED;
}

.search button i {
    color: #1E0D03;
}

nav .notification-message-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 9%;
}

nav .notification-message-user i {
    font-size: large;
}

nav .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

nav .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* article {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 20px 0% 20px;
} */

.home-page,
.ticket-management-page,
.ticket-reconciliation-page .data-display,
.ticket-reconciliation-page .filter,
.services-page,
.device-management-page,
.event-list-page {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 20px 0% 20px;
    width: 100%;
    height: 100%;
}

/* home page */

.home-page h1 {
    font-size: 29px;
    font-weight: bolder;
    line-height: 45px;
    color: #1e0d03;
}

.home-page .revenue {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.home-page .revenue span {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.home-page .lineChartContainer {
    height: 30%;
}

.home-page .lineChartContainer #myChart {
    width: 100%;
}

.home-page .total-weekly-revenue {
    margin-top: 2%;
}

.home-page .total-weekly-revenue span {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.5;
}

.home-page .revenue-money {
    display: flex;
    align-items: center;
    height: 1.8rem;
}

.home-page .revenue-money h1 {
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
}

.home-page .revenue-money span {
    opacity: 1;
}

.home-page .pieChartContainer {
    padding-top: 4%;
    display: flex;
    height: max-content;
}

.home-page .pieCharts {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    overflow-x: auto;
}

.home-page .pieChart {
    width: 200px !important;
    height: 200px !important;
    flex: 0 0 auto;
}

.home-page .used-ticket-notes,
.home-page .unused-ticket-notes {
    display: flex;
    align-items: center;
    line-height: 30px;
}

.home-page .used-ticket-notes div {
    width: 35px;
    height: 18px;
    border-radius: 4px;
    background-color: #4F75FF;
}

.home-page .unused-ticket-notes div {
    width: 35px;
    height: 18px;
    border-radius: 4px;
    background-color: #FF8A48;
}

.hiddenCanvas {
    display: none !important;
}

/* ticket management page */

.ticket-management-page h1 {
    font-size: 29px;
    font-weight: bolder;
    line-height: 45px;
    color: #1e0d03;
}

.ticket-management-page .ticket-package-list {
    display: flex;
    height: 40px;
}

.ticket-management-page .ticket-package-list div {
    margin-right: 20px;
    width: 110px;
    height: 70%;
    display: flex;
    justify-content: center;
}

.ticket-management-page .ticket-package-list div:first-child {
    justify-content: start;
}

.ticket-management-page .ticket-package-list a {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #919DBA;
}

.ticket-management-page .ticket-package-list div:hover {
    border-bottom: solid 3px #FF993C;
}

.ticket-management-page .ticket-package-list div:hover a {
    font-size: 16px;
    font-weight: bold;
    color: #FF993C;
}

.ticket-management-page .ticket-package-list .active {
    border-bottom: solid 3px #FF993C;
}

.ticket-management-page .ticket-package-list .active a {
    font-size: 16px;
    font-weight: bold;
    color: #FF993C;
}

.ticket-management-page .ticket-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ticket-management-page .ticket-filter .search input {
    background-color: #F7F7F8;
}

.ticket-management-page .ticket-filter .search button {
    background-color: #F7F7F8;
}


.ticket-management-page .ticket-board table {
    border-collapse: separate;
    border-spacing: 0;
}

.ticket-management-page .ticket-board table tr:first-child th:first-child {
    border-top-left-radius: 9px;
}

.ticket-management-page .ticket-board table tr:first-child th:last-child {
    border-top-right-radius: 9px;
}

.ticket-management-page .ticket-board table th {
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
}

.ticket-management-page .ticket-board table td {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    vertical-align: middle;
}

.ticket-management-page .ticket-board table .status {
    border-radius: 4px;
    padding: 3px 8px;
    width: max-content;
}

.ticket-management-page .ticket-board table .used {
    border: solid 1px rgba(145, 157, 186, 1);
    background-color: rgba(234, 241, 248, 1);
    color: rgba(145, 157, 186, 1);
}

.ticket-management-page .ticket-board table .unused {
    border: solid 1px rgba(3, 172, 0, 1);
    background-color: rgba(222, 247, 224, 1);
    color: rgba(3, 172, 0, 1);
}

.ticket-management-page .ticket-board table .expired {
    border: solid 1px rgba(253, 89, 89, 1);
    background-color: rgba(248, 235, 232, 1);
    color: rgba(253, 89, 89, 1);
}

.ticket-management-page .ticket-board table .ellipsis {
    width: 25px;
    height: 100%;
    background: transparent;
}

/* pagination */

.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;
}

.custom-pagination .page-link {
    border: none;
    outline: none;
    background: transparent;
    color: rgba(30, 13, 3, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.custom-pagination .disabled .page-link {
    color: rgba(165, 168, 177, 1);
}

.custom-pagination .active .page-link {
    color: rgba(255, 153, 60, 1);
    padding: 5px 10px;
    border-radius: 4px;
    border: solid 1px rgba(255, 153, 60, 1);
}

.custom-pagination .pre .page-link,
.custom-pagination .next .page-link {
    color: rgba(255, 153, 60, 1);
}

/* ticket filter modal */

.ticket-filter-modal .modal-content {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 0% 2%;
}

.ticket-filter-modal .modal-header,
.ticket-filter-modal .modal-body,
.ticket-filter-modal .modal-footer {
    border: none;
}

.ticket-filter-modal .modal-dialog {
    max-width: 600px;
}

.ticket-filter-modal .modal-date {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.ticket-filter-modal .status {
    margin: 5% 0%;
}

.ticket-filter-modal .status .radio div,
.ticket-filter-modal .check-in .checkbox div {
    font-size: 14px;
    font-weight: 500;
    display: flex;
}

.ticket-filter-modal .status .radio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ticket-filter-modal .status .radio input,
.ticket-filter-modal .check-in .checkbox input {
    width: 18px;
    height: 18px;
    margin-right: 5%;
}

.ticket-filter-modal .check-in .checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.ticket-filter-modal .modal-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(30, 13, 3, 1);
}

.ticket-filter-modal .modal-header {
    justify-content: center;
}

.ticket-filter-modal .modal-body h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(30, 13, 3, 1);
}

.ticket-filter-modal .modal-footer {
    justify-content: center;
}

.ticket-filter-modal .modal-footer button {
    width: 25%;
}

.ticket-filter-modal .modal-date .date {
    display: flex;
    width: 8rem;
    height: 2.2rem;
}

.ticket-filter-modal .modal-date .date button {
    background: transparent;
    border: solid 1px rgba(165, 168, 177, 1);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    width: 30%;
}

.ticket-filter-modal .modal-date .date button i {
    color: #FF993C;
    font-size: 18px;
}

.ticket-filter-modal .modal-date .date input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    width: 70%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

/* ticket update modal */

.ticket-update-modal .modal-body table {
    display: table;
    width: 100%;
}

.ticket-update-modal .modal-body table td:nth-child(1) {
    width: 25%;
}

.ticket-update-modal .modal-body table td:nth-child(2) {
    width: 75%;
}

.ticket-update-modal .modal-body table tr {
    height: 35px;
}

.ticket-update-modal .modal-content {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 0% 2%;
}

.ticket-update-modal .modal-header,
.ticket-update-modal .modal-body,
.ticket-update-modal .modal-footer {
    border: none;
}

.ticket-update-modal .modal-dialog {
    max-width: 600px;
}

.ticket-update-modal .modal-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(30, 13, 3, 1);
}

.ticket-update-modal .modal-header {
    justify-content: center;
}

.ticket-update-modal .modal-body h4 {
    font-size: 14px;
    font-weight: 600;
}

.ticket-update-modal .modal-body span {
    font-size: 14px;
    font-weight: 500;
}

.ticket-update-modal .modal-body .ticketCodeInput,
.ticket-update-modal .modal-body .packageCodeInput,
.ticket-update-modal .modal-body .eventNameInput {
    display: none;
}

.ticket-update-modal .modal-footer {
    justify-content: center;
}

.ticket-update-modal .modal-footer button {
    width: 22%;
    margin: 0% 2%;
}

.ticket-update-modal .date {
    display: flex;
    width: 8rem;
    height: 2rem;
}

.ticket-update-modal .date button {
    background: transparent;
    border: solid 1px rgba(165, 168, 177, 1);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    width: 30%;
}

.ticket-update-modal .date button i {
    color: #FF993C;
    font-size: 14px;
}

.ticket-update-modal .date input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.ticket-update-modal .modal-footer .active {
    border: solid 1px #FF993C;
    background-color: #FF993C;
    color: #FFFFFF;
}

/* Ticket Reconciliation Page */

.ticket-reconciliation-page {
    display: flex;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 29%;
    grid-column-gap: 1%;
}

.ticket-reconciliation-page .data-display .ticket-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ticket-reconciliation-page .data-display h1 {
    font-size: 29px;
    font-weight: bolder;
    line-height: 45px;
    color: #1e0d03;
}

.ticket-reconciliation-page .data-display .ticket-filter .search input,
.ticket-reconciliation-page .data-display .ticket-filter .search button {
    background-color: #F7F7F8;
}

.ticket-reconciliation-page .data-display .ticket-board table {
    border-collapse: separate;
    border-spacing: 0;
}

.ticket-reconciliation-page .data-display .ticket-board table tr:first-child th:first-child {
    border-top-left-radius: 9px;
}

.ticket-reconciliation-page .data-display .ticket-board table tr:first-child th:last-child {
    border-top-right-radius: 9px;
}

.ticket-reconciliation-page .data-display .ticket-board table th {
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
}

.ticket-reconciliation-page .data-display .ticket-board table td {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    vertical-align: middle;
}

.ticket-reconciliation-page .filter h2 {
    font-size: 20px;
    font-weight: bolder;
    line-height: 45px;
    color: #1e0d03;
}

.form-select {
    height: 35px;
    width: 100%;
    padding-left: 5%;
    background-color: rgba(241, 244, 248, 1);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(124, 125, 149, 1);
    border: none;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.ticket-reconciliation-page .filter .table h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
}

.ticket-reconciliation-page .filter .radio-group .radio {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5%;
    align-items: center;
}

.ticket-reconciliation-page .filter .radio-group .radio input {
    margin-right: 5%;
    width: 18px;
    height: 18px;
}

.ticket-reconciliation-page .filter span {
    font-size: 14px;
    font-weight: 500;
}

.ticket-reconciliation-page .filter .button-hover {
    padding: 5px 50px;
}

.ticket-reconciliation-page .filter .submit {
    text-align: center;
}

/* services page */

.services-page h1 {
    font-size: 29px;
    font-weight: bolder;
    line-height: 45px;
    color: #1e0d03;
}

.services-page .ticket-package-list {
    display: flex;
    height: 40px;
}

.services-page .ticket-package-list div {
    margin-right: 20px;
    width: 110px;
    height: 70%;
    display: flex;
    justify-content: center;
}

.services-page .ticket-package-list div:first-child {
    justify-content: start;
}

.services-page .ticket-package-list a {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #919DBA;
}

.services-page .ticket-package-list div:hover {
    border-bottom: solid 3px #FF993C;
}

.services-page .ticket-package-list div:hover a {
    font-size: 16px;
    font-weight: bold;
    color: #FF993C;
}

.services-page .ticket-package-list .active {
    border-bottom: solid 3px #FF993C;
}

.services-page .ticket-package-list .active a {
    font-size: 16px;
    font-weight: bold;
    color: #FF993C;
}

.services-page .ticket-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.services-page .ticket-filter .search input {
    background-color: #F7F7F8;
}

.services-page .ticket-filter .search button {
    background-color: #F7F7F8;
}


.services-page .ticket-board table {
    border-collapse: separate;
    border-spacing: 0;
}

.services-page .ticket-board table tr:first-child th:first-child {
    border-top-left-radius: 9px;
}

.services-page .ticket-board table tr:first-child th:last-child {
    border-top-right-radius: 9px;
}

.services-page .ticket-board table th {
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
}

.services-page .ticket-board table td {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    vertical-align: middle;
}

.services-page .ticket-board table .status {
    border-radius: 4px;
    padding: 3px 8px;
    width: max-content;
}

.services-page .ticket-board table .active {
    border: solid 1px rgba(3, 172, 0, 1);
    background-color: rgba(222, 247, 224, 1);
    color: rgba(3, 172, 0, 1);
}

.services-page .ticket-board table .disabled {
    border: solid 1px rgba(253, 89, 89, 1);
    background-color: rgba(248, 235, 232, 1);
    color: rgba(253, 89, 89, 1);
}

.services-page .ticket-board table .update {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 153, 60, 1);
    background: transparent;
}

/* add ticket package modal */

.add-ticket-package .modal-content {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 0% 2%;
}

.add-ticket-package .modal-header,
.add-ticket-package .modal-body,
.add-ticket-package .modal-footer {
    border: none;
}

.add-ticket-package .modal-dialog {
    max-width: 700px;
}

.add-ticket-package .modal-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(30, 13, 3, 1);
}

.add-ticket-package .modal-header {
    justify-content: center;
}

.add-ticket-package .modal-body h4 {
    font-size: 14px;
    font-weight: 600;
    display: flex;
}

.add-ticket-package .modal-body span {
    font-size: 14px;
    font-weight: 500;
}

.add-ticket-package .package-name,
.add-ticket-package .date-modal,
.add-ticket-package .price,
.add-ticket-package .status {
    margin-bottom: 20px;
}

.add-ticket-package .modal-footer {
    justify-content: center;
}

.add-ticket-package .modal-footer button {
    width: 22%;
    margin: 0% 2%;
}

.add-ticket-package .date-modal,
.add-ticket-package .date-modal .start-date div,
.add-ticket-package .date-modal .end-date div {
    display: flex;
    justify-content: space-between;
}

.add-ticket-package .date-modal .start-date .date:first-child,
.add-ticket-package .date-modal .end-date .date:first-child {
    margin-right: 5%;
}

.add-ticket-package .date {
    display: flex;
    width: 8rem;
    height: 2rem;
}

.add-ticket-package .package-name input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-radius: 8px;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.add-ticket-package .date button {
    background: transparent;
    border: solid 1px rgba(165, 168, 177, 1);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    width: 30%;
}

.add-ticket-package .date button i {
    color: #FF993C;
    font-size: 14px;
}

.add-ticket-package .date input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.add-ticket-package .price .single,
.add-ticket-package .price .combo {
    display: flex;
    align-items: center;
}

.add-ticket-package .price .single {
    margin-bottom: 2%;
}

.add-ticket-package .price .single input[type="checkbox"],
.add-ticket-package .price .combo input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.add-ticket-package .price .single input[type="number"],
.add-ticket-package .price .combo input[type="number"] {
    background-color: rgba(241, 244, 248, 1);
    border-radius: 8px;
    width: 10rem;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.add-ticket-package .price .single span,
.add-ticket-package .price .combo span {
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 500;
}

.add-ticket-package .status .form-select {
    background-color: inherit;
    border-radius: 8px;
    width: 10rem;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border: solid 1px rgba(165, 168, 177, 1);
}

.add-ticket-package .note {
    display: flex;
}

.add-ticket-package .note span {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.4;
}

.add-ticket-package .note .text-danger {
    opacity: 1;
}

.add-ticket-package .modal-footer .active {
    border: solid 1px #FF993C;
    background-color: #FF993C;
    color: #FFFFFF;
}

/* add ticket package modal */

.update-ticket-package .modal-content {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 0% 2%;
}

.update-ticket-package .modal-header,
.update-ticket-package .modal-body,
.update-ticket-package .modal-footer {
    border: none;
}

.update-ticket-package .modal-dialog {
    max-width: 700px;
}

.update-ticket-package .modal-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(30, 13, 3, 1);
}

.update-ticket-package .modal-header {
    justify-content: center;
}

.update-ticket-package .modal-body h4 {
    font-size: 14px;
    font-weight: 600;
    display: flex;
}

.update-ticket-package .modal-body span {
    font-size: 14px;
    font-weight: 500;
}

.update-ticket-package .package-info,
.update-ticket-package .date-modal,
.update-ticket-package .price,
.update-ticket-package .status {
    margin-bottom: 20px;
}

.update-ticket-package .modal-footer {
    justify-content: center;
}

.update-ticket-package .modal-footer button {
    width: 22%;
    margin: 0% 2%;
}

.update-ticket-package .date-modal,
.update-ticket-package .date-modal .start-date div,
.update-ticket-package .date-modal .end-date div {
    display: flex;
    justify-content: space-between;
}

.update-ticket-package .date-modal .start-date .date:first-child,
.update-ticket-package .date-modal .end-date .date:first-child {
    margin-right: 5%;
}

.update-ticket-package .date {
    display: flex;
    width: 8rem;
    height: 2rem;
}

.update-ticket-package .package-info {
    display: grid;
    grid-template-columns: 35% 55%;
    grid-column-gap: 10%;
}

.update-ticket-package .event-name input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.update-ticket-package .package-code input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.update-ticket-package .date button {
    background: transparent;
    border: solid 1px rgba(165, 168, 177, 1);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    width: 30%;
}

.update-ticket-package .date button i {
    color: #FF993C;
    font-size: 14px;
}

.update-ticket-package .date input {
    border: solid 1px rgba(165, 168, 177, 1);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.update-ticket-package .price .single,
.update-ticket-package .price .combo {
    display: flex;
    align-items: center;
}

.update-ticket-package .price .single {
    margin-bottom: 2%;
}

.update-ticket-package .price .single input[type="checkbox"],
.update-ticket-package .price .combo input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.update-ticket-package .price .single input[type="number"],
.update-ticket-package .price .combo input[type="number"] {
    background-color: rgba(241, 244, 248, 1);
    border-radius: 8px;
    width: 10rem;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
}

.update-ticket-package .price .single span,
.update-ticket-package .price .combo span {
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 500;
}

.update-ticket-package .status .form-select {
    background-color: inherit;
    border-radius: 8px;
    width: 10rem;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border: solid 1px rgba(165, 168, 177, 1);
}

.update-ticket-package .note {
    display: flex;
}

.update-ticket-package .note span {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.4;
}

.update-ticket-package .note .text-danger {
    opacity: 1;
}

.update-ticket-package .modal-footer .active {
    border: solid 1px #FF993C;
    background-color: #FF993C;
    color: #FFFFFF;
}